header {
  max-width: 100%;

  .toggleMenu {
    color: white;
    font-size: 4rem;
  }
}

.navbar {
  display: flex;
  height: 10vh;
  max-width: 90%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 2.5rem;
  }

  //   .header-logo {
  //     margin-top: 1rem;
  //     position: absolute;
  //     top: 0;
  //     left: 20;
  //     img {
  //       height: 9rem;
  //       border-radius: 50%;
  //     }
  //   }
}

.nav-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  flex: 2 1 20rem;
  margin-right: 5rem;
}

.nav-links a {
  display: inline-block;
  margin: 0rem 2rem;
  font-size: 2rem;
}

.switch-theme {
  min-width: 5%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;

  .active {
    border-bottom: 1px solid #38d39f;
  }
  .active-theme {
    color: #38d39f;
  }
}
