<div class="navbar" color="accent" @headerAnim>
  <div class="header-logo anim" id="top">
    <a href="/" alt="header img">
      <img src="../../assets/images/me.png" alt="" />
    </a>
  </div>

  <ul class="nav-links anim">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/home">Home</a>
    </li>
    <li>
      <a
        routerLink="/projects"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Projects</a
      >
    </li>
    <li>
      <a
        routerLink="/about"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >About</a
      >
    </li>
    <li>
      <a
        routerLink="/contact"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Contact</a
      >
    </li>
  </ul>
  <div class="switch-theme anim">
    <mat-button-toggle-group appearance="legacy" [(ngModel)]="selectedTheme">
      <mat-button-toggle
        value="light"
        (click)="changeTheme()"
        [class.active-theme]="selectedTheme === 'light' ? true : false"
      >
        <mat-icon>wb_sunny</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        value="dark"
        (click)="changeTheme()"
        [class.active-theme]="selectedTheme === 'dark' ? true : false"
      >
        <mat-icon>brightness_2</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
