mat-toolbar {
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.nav-links a {
  display: inline-block;
  color: white;
  margin: 0rem 2rem;
}
