.about-container {
  max-width: 90%;
  min-height: 90vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 6rem auto;
}

h2 {
  line-height: 3;
}

h3 {
  color: #38d39f;
}

.section {
  display: flex;
  padding: 5rem 0;
  min-width: 100%;

  &-background {
    flex-flow: row nowrap;
  }
  &-skills {
    justify-content: center;
  }
}

.background {
  &-title {
    min-width: 20rem;
    margin-right: 7rem;
    text-align: right;
    padding-right: 0.8rem;
  }
  &-content {
    width: 100%;
  }
}

.skills {
  width: 100%;
  &-title {
    text-align: left;
    min-width: 20rem;
    margin-right: 7rem;
    padding-right: 0.9rem;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &-category-title {
    text-transform: uppercase;
  }
}

h4 {
  font-size: 2rem;
}

.certification,
.skills {
  width: 100%;
  &-title {
    max-width: 20rem;
    margin-right: 4.8rem;
    text-align: right;
    padding-right: 0.8rem;
    h3 {
      font-size: 2.7rem;
    }
  }

  &-table {
    width: 100%;
  }
}

table {
  width: 100%;
}

.skills-title {
  text-align: left;
}

td.mat-cell {
  width: 26.8rem;
}

.mat-header-cell {
  font-size: 1.7rem;
}

.mat-cell,
.mat-footer-cell {
  font-size: 1.6rem;
}

p {
  text-align: justify;
}
