<div class="about-container">
  <h2>About Me</h2>

  <section class="section section-background">
    <div class="background-title">
      <h3>Background</h3>
    </div>
    <div class="background-content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
        aliquid odit tempore dicta tempora fugiat sequi, repellat sit nam!
        Consequatur.
      </p>
    </div>
  </section>
  <section class="section section-skills">
    <div class="skills-title">
      <h3>Skills</h3>
    </div>
    <div class="skills-content">
      <div class="skills-category">
        <div class="skills-category-title">
          <h4>Languages</h4>
        </div>
        <ul>
          <li>Javascript (ES6)</li>
          <li>TypeScript</li>
          <li>HTML</li>
          <li>CSS/Sass</li>
        </ul>
      </div>
      <div class="skills-category">
        <div class="skills-category-title">
          <h4>Framework</h4>
        </div>
        <ul>
          <li>Angular</li>
        </ul>
      </div>
      <div class="skills-category">
        <div class="skills-category-title">
          <h4>Tools</h4>
        </div>
        <ul>
          <li>Bash</li>
          <li>Git & Github</li>
          <li>Chrome DevTools</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section section-certification">
    <div class="certification-title">
      <h3>Certifications</h3>
    </div>
    <div class="certification-table">
      <table mat-table [dataSource]="dataSource">
        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef>Année</th>
          <td mat-cell *matCellDef="let element">{{ element.year }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="link">
          <th mat-header-cell *matHeaderCellDef>Link</th>
          <td mat-cell *matCellDef="let element">
            <a href="{{ element.link }}" target="_blank">
              <button
                mat-icon-button
                matTooltip="Certification Link "
                matTooltipPosition="left"
                aria-label="link button to the certification"
              >
                <mat-icon>open_in_new</mat-icon>
              </button>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </section>
</div>
