<section class="projects-container">
  <div class="project-title">
    <h2>My Projects</h2>
  </div>
  <div class="project-list">
    <div class="project-card" *ngFor="let project of projects; let i = index">
      <img class="project-image" src="{{ project.image }}" alt="" />
      <div class="hover-div">
        <div>
          <p>{{ project.name }}</p>
        </div>
        <div>
          <button mat-button (click)="openDialog(i)">Open dialog</button>
        </div>
      </div>
    </div>
  </div>
</section>
