// container

.projects-container {
  width: 90%;
  min-height: 90vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 7rem auto;
}

// title
.project-title {
  margin: 2rem 0rem;
}

// project-list container
.project-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

// card
.project-card {
  max-width: auto;
  margin: 2rem;
  flex: 1 1 50rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

// card image

.mat-card-image {
  min-height: 33.4rem;
}

// card content

.tab-content {
  min-height: 10rem;
}

ul {
  margin-top: 1rem;
}

.techno,
.tool,
.production {
  padding: 0.5rem 1rem;
  border: 2px solid;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
  min-width: 0 !important;
  padding: 3px !important;
  margin: 3px !important;
}

mat-form-field.mat-form-field {
  font-size: 2rem;
  width: 100%;
}

// Frameworks classes

.Angular {
  border-color: #bd002e;
}

// tech classes
.HTML {
  border-color: orange;
}

.CSS {
  border-color: rgb(64, 98, 250);
}

.Javascript {
  border-color: #fddc22;
}

.Typescript {
  border-color: #007acc;
}

// tools classes

.Webpack {
  border-color: #3276bd;
}

.Babel {
  border-color: #f2d53c;
}

.Git {
  border-color: #e94f31;
}

.Github {
  border-color: #323131;
}

.Firebase {
  border-color: #f6830e;
}

// production classes
.Netlify {
  border-color: #34b2bb;
}
