<div class="container">
  <form class="form-container" novalidate [formGroup]="myForm">
    <mat-form-field>
      <mat-label>Name :</mat-label>
      <input
        formControlName="name"
        name="name"
        matInput
        placeholder="Name"
        required
      />
      <mat-error *ngIf="errorsForm.name"> {{ errorsForm.name }} </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone Number :</mat-label>
      <input
        #input
        formControlName="phone"
        type="tel"
        pattern="[0-9]{10}"
        matInput
        placeholder="Téléphone"
      />
      <span matSuffix> {{ input.value?.length || 0 }}/10 </span>
      <!-- <mat-error *ngIf="errorsForm.phone"> {{ errorsForm.phone }} </mat-error> -->
      <mat-error *ngIf="myForm.get('phone').hasError('pattern')">
        Please Enter only number
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email :</mat-label>
      <input
        email
        type="email"
        formControlName="email"
        matInput
        placeholder="Ex. youremail@gmail.com"
        required
      />
      <mat-error *ngIf="myForm.get('email').hasError('email')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea
        formControlName="comment"
        matInput
        placeholder="Ex. I want to work with you because..."
      ></textarea>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">
      <span>Let's Work !</span>
    </button>
  </form>
</div>
