<section class="intro" fxLayout="row" fxLayoutAlign="space-between, center">
  <form
    class="form-container anim-contact"
    novalidate
    [formGroup]="myForm"
    name="contact"
    method="POST"
    (ngSubmit)="onSubmit()"
  >
    <input type="hidden" name="form-name" value="contact" />
    <div>
      <h2>Contact</h2>
    </div>
    <mat-form-field color="primary">
      <mat-label>Name :</mat-label>
      <input
        formControlName="name"
        name="name"
        matInput
        placeholder="Name"
        required
      />
      <mat-error *ngIf="errorsForm.name"> {{ errorsForm.name }} </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email :</mat-label>
      <input
        email
        type="email"
        formControlName="email"
        matInput
        placeholder="Ex. youremail@gmail.com"
        required
      />
      <mat-error *ngIf="myForm.get('email').hasError('email')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea
        name="message"
        formControlName="comment"
        matInput
        placeholder="Ex. I want to work with you because..."
      ></textarea>
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      [color]="color"
      (mouseover)="color = 'accent'"
      (mouseleave)="color = 'primary'"
    >
      <span>Send</span>
    </button>
  </form>
  <div class="intro-images anim-contact">
    <img src="../../assets/images/contact.svg" alt="" />
  </div>
</section>
