/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Light and Dark Theme Setting

// Imports for Angular Material Theming
@import "~@angular/material/theming";
@include mat-core();

// Light theme
$light-primary: mat-palette($mat-teal, A700);
$light-accent: mat-palette($mat-teal, 600);
$light-theme: mat-light-theme($light-primary, $light-accent);

// Dark theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Light theme

.color-scheme-light {
  @include angular-material-theme($light-theme);
  background: #f1f8ff;
  color: rgb(78, 78, 78);
  p,
  a,
  li {
    color: rgb(78, 78, 78);
  }
  .form-container {
    background: white;
  }
}

// Dark theme

.color-scheme-dark {
  @include angular-material-theme($dark-theme);
  background: rgb(43, 42, 42);
  color: white;
  a,
  li {
    color: white;
  }
  .form-container {
    background: #424242;
  }
}

// General

html,
body {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p,
li {
  font-size: 2rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

// class for route animation

router-outlet {
  display: none;
}

.routeContainer {
  position: relative;
}

// class for media querie

.hide-svg {
  display: none;
}

.mat-sidenav {
  .mat-drawer-inner-container {
    background-color: #00897b;
  }

  a .mat-icon {
    font-size: 4rem;
    color: white;
  }
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
