/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Imports for Angular Material Theming
@import "~@angular/material/theming";
@include mat-core();

// Light theme
$light-primary: mat-palette($mat-indigo);
$light-accent: mat-palette($mat-pink, A200, A100, A400);
$light-theme: mat-light-theme($light-primary, $light-accent);

// Dark theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

html,
body {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

.color-scheme-light {
  @include angular-material-theme($light-theme);
  background: white;
}

.color-scheme-dark {
  @include angular-material-theme($dark-theme);
  background: black;
}

* {
  margin: 0;
  padding: 0;
  background-origin: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
