@mixin flex($justify, $align, $direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$background-color: #154343;
$gray-text: #2c2c2c;

.intro {
  min-height: 90vh;
  width: 90%;
  margin: 2rem auto;
  flex-wrap: wrap;
  z-index: 1;
  @include flex(space-between, center, row);
  h2 {
    font-size: 8rem;
    padding-top: 2rem;
    z-index: 2;
    display: inline-block;
  }
  h3 {
    font-size: 6rem;
    padding: 2rem 0rem;
    color: #38d39f;
  }
  p {
    padding-top: 2rem;
  }
}

.intro-social {
  margin-top: 4rem;
  a {
    margin-right: 5rem;
  }
}

.active {
  background: $gray-text;
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.intro-text,
.intro-images {
  flex: 1 1 40rem;
}

.intro-images svg {
  width: 100%;
  padding-left: 5rem;
}

#plant-left {
  animation: plant 2s ease infinite alternate;
}

#plant-right {
  animation: plant 2s ease infinite alternate 0.5s;
}

#me {
  animation: me 2s ease infinite alternate;
  transform-origin: bottom;
}

#clock-arrow {
  animation: clock 4s infinite linear;
  transform-box: fill-box;
  transform-origin: bottom;
}

@keyframes me {
  from {
    transform: rotateZ(-2deg);
  }
  to {
    transform: rotateZ(2deg);
  }
}

@keyframes plant {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-30%);
  }
}

@keyframes clock {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
