<section class="intro" fxLayout.xs="column" fxLayout.xs="column">
  <div class="intro-text" ngClass.xs="text-xs" ngClass.sm="text-xs">
    <h2>
      Guillaume <br />
      Cornille
    </h2>
    <h3>
      Front End Web <br />
      Developer
    </h3>
    <p>
      Hi ! Welcome to my portfolio and I hope you'll like it !
    </p>
    <div class="intro-social">
      <!-- <a href="https://github.com/JungleWilly" target="_blank">
        <img src="../../../assets/icons/github.svg" alt="github-social-link" />
      </a>
      <a href="https://fr.linkedin.com/in/guillaume-cornille" target="_blank">
        <img
          src="../../../assets/icons/linkedin.svg"
          alt="linkedin-social-link"
        />
      </a> -->
      <div class="button">
        <a
          class="button-link"
          href="https://www.guillaumecornillecv.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Resume
        </a>
        <div class="extrude-right"></div>
        <div class="extrude-right alt"></div>
        <div class="extrude-bottom"></div>
        <div class="extrude-bottom alt"></div>
      </div>
    </div>
  </div>
  <div class="intro-images" ngClass.xs="image-xs">
    <img src="../../assets/images/home.svg" alt="" />
  </div>
</section>
